# Database
DATABASE_URL=postgresql://postgres:YOUR_ACTUAL_PASSWORD@localhost:5432/ingredient_checker

# API Keys

GOOGLE_VISION_API_KEY=AIzaSyAs3lnRBODdRch2cI2j40SrO-g2Ry35qTc

# Security
SECRET_KEY=3Sfao_6ngLxQFH4nMebM5OGfIhkqeGfUfd5YDgFv0PE
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Environment
ENVIRONMENT=development